.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    position: relative;
  }
  
  .app {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  
  
  .resultado {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .data,
  .valor {
    margin-bottom: 20px;
  }
  
  
  .dataLabel {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
  }
  
  
 
.Esquerda {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  